<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provide Availability</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        #nav-button {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    </style>
</head>

<body>
    <div id="main">
        <div id="canvas">
            <div id="content">
                <h3 class="headings">Availability</h3>
                <a href="/admin_dashboard" id="nav-btn" class="btn btn-primary">Back</a>
                <div class="Schedule table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Morning</th>
                                <th>Evening</th>
                            </tr>
                        </thead>
                        <form action="/provide_availability/{{doctor.id}}" method="post">
                            <tbody>
                                {% for day, shifts in f_dict.items() %}
                                {% for shift in shifts %}
                                <tr>
                                    <th>{{ day }}</th>

                                    {% set slot1, slot1_status, slot2, slot2_status = shift[0], shift[1], shift[2],
                                    shift[3] %}

                                    {# Set values for radio buttons #}
                                    {% set val1 = day ~ '|' ~ slot1 %}
                                    {% set val2 = day ~ '|' ~ slot2 %}

                                    {# Define CSS classes based on status #}
                                    {% set class1 = slot1_status %}
                                    {% set class2 = slot2_status %}

                                    <td>
                                        <label for="slot_{{ loop.index }}" class="slot-button {{ class1 }}">
                                            {{slot1}}
                                            <input type="checkbox" id="slot_{{ loop.index }}" name="selected_slot"
                                                value="{{ val1 }}" {% if slot1_status=='BOOKED' or
                                                slot1_status=='CANCELED' %} disabled {% endif %}>
                                        </label>
                                    </td>

                                    <td>
                                        <label for="slot_{{ loop.index +10 }}" class="slot-button {{ class2 }}">
                                            {{slot2}}
                                            <input type="checkbox" id="slot_{{ loop.index + 10 }}" name="selected_slot"
                                                value="{{ val2 }}" {% if slot2_status=='BOOKED' or
                                                slot2_status=='CANCELED' %} disabled {% endif %}>
                                        </label>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                                <input type="submit" id="nav-button" class="btn btn-primary" value="Save">
                            </tbody>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>